<header class="header">
    <a routerLink="/">
        <img src="logo.svg" alt="logo" class="header__logo" aria-hidden="true">
    </a>
    
    <nav class="header__nav" aria-label="Main Navigation">
        <ul class="header__list">
            <li class="header__item">
                <a routerLink="/signup" class="header__link" routerLinkActive="header__link-active">Signup</a>
            </li>
            <li class="header__item">
                <a routerLink="/login" class="header__link" routerLinkActive="header__link-active">Login</a>
            </li>
        </ul>
    </nav>
</header>