<header class="header">
    <a routerLink="/">
        <img src="logo.svg" alt="logo" class="header__logo" aria-hidden="true">
    </a>
    
    <nav class="header__nav" aria-label="Main Navigation">
        <ul class="header__list">
            @if (authService.isAuthenticated()) {
                <li class="header__item">
                    <button class="header__link" (click)="authService.signOut()" type="button">Sign Out</button>
                </li>
            } @else {
                <li class="header__item">
                    <a routerLink="/sign-up" class="header__link" routerLinkActive="header__link-active">Sign Up</a>
                </li>
                <li class="header__item">
                    <a routerLink="/sign-in" class="header__link" routerLinkActive="header__link-active">Sign In</a>
                </li>
            }
        </ul>
    </nav>
</header>