<form [formGroup]="signInForm" (submit)="onSubmit()">
    <fieldset>
        <legend>Sign In</legend>

        @let emailCtrl = signInForm.controls['email'];
        <div class="form__field">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email"/>

            @if (emailCtrl.invalid && emailCtrl.touched) {
                <div class="error">
                    @if (emailCtrl.errors?.['required']) {
                        <span>Email is required</span>
                    }
                    @if (emailCtrl.errors?.['email']) {
                        <span>Email is invalid</span>
                    }
                </div>
            }
        </div>

        @let passwordCtrl = signInForm.controls['password'];
        <div class="form__field">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">

            @if (passwordCtrl.invalid && passwordCtrl.touched) {
                <div class="error">
                    @if (passwordCtrl.errors?.['required']) {
                        <span>Password is required</span>
                    }

                    @if (passwordCtrl.errors?.['minlength']) {
                        <span>Password must be at least 6 symbols</span>
                    }
                </div>
            }
        </div>

        <button type="submit">Sign In</button>
    </fieldset>
</form>